@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  font-family: Ubuntu;
  color: white;
}

body {
  background-color: black;
  display: flex;
  overflow: hidden;
}

#canvas {
  background-color: rgba(44, 135, 226, 0.267);
}

#game-over {
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
  font-size: 5vw;
  font-family: Ubuntu;
  color: white;
  flex-direction: column;
}

#try-again {
  display: flex;
  width: 15vw;
  height: 10vh;
  font-size: 3vw;
  border-radius: 5%;
  cursor: pointer;
  transition: 0.3s;
  z-index: 12412341234134;
}

#try-again:hover {
  transform: scale(1.25);
  transition: 0.3s;
}

#high-score {
  font-size: 4vw;
}

h1 {
  font-size: 7.5vw;
}

section {
  position: absolute;
  display: flex;
  width: 50vw;
  height: 100vh;
  z-index: 123312;
  justify-content: space-evenly;
  font-size: 5vw;
}

#lives {
  display: none;
}

.life {
  transition: 0.6s;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#final-score {
  display: none;
  font-size: 4vw;
  margin-bottom: 5vh;
}

#menu {
  position: absolute;
  display: flex;
  font-size: 3vw;
  flex-direction: column;
  gap: 2vw;
}

#score {
  display: none;
}

.hover {
  transition: 0.6s;
  z-index: 124124;
}

.hover:hover {
  transition: 0.6s;
  transform: scale(1.25);
  cursor: pointer;
}

.center {
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 1vw;
  word-wrap: break-word;
}
